<ion-view view-title="Clients">
  <ion-content>
    <ion-slide-box active-slide="myActiveSlide">
      <ion-slide>
        <div class="box blue"><h1>CLIENTS1</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>CLIENTS2</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><h1>CLIENTS3</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box blue"><h1>CLIENTS4</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>CLIENTS5</h1></div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>
