<ion-view view-title="Clients">
    <ion-content>


        <ion-slide-box active-slide="myActiveSlide" on-slide-changed="slideChanged(index)"
                       delegate-handle="ClientSwipeDelegate">
            <ion-slide>
                <div class="box" id="clientsmenu">
                    <div class="row">
                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(1)" class="clients">evolution of<br/>the
                                    customer<br/>focussed<br/>organisation<br/>
                        <span class="mainMenu desc">
                            <br/>A framework for guaging your clients maturity in focusing on its customers
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(2)" class="clients"><br/>CUSTOMER IS<br/>KING<br/>(OR
                                    QUEEN)<br/>
                        <span class="mainMenu desc">
                            <br/>Key stats - a shift in emphasis towards the customer
                        </span></a>
                            </div>
                        </div>

                        <!--div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(3)" class="clients">MARKET<br/>OPPORTUNITY
                    <span class="mainMenu desc">
                        <br/>
                    </span></a>
                            </div>
                        </div-->


                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(3)" class="clients"><br/>SEIZE THE<br/>OPPORTUNITY<br/>OR
                                    DECLINE?<br/>
                        <span class="mainMenu desc">
                           <br/>The consulting market opportunity in numbers
                        </span></a>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(4)" class="clients"><br/>THE<br/>Elevator<br/>Pitch<br/>
                        <span class="mainMenu desc">
                             <br/>The benefits and value we typically deliver through a focus on CX
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(5)" class="clients">Why customer experience matters
                                    to our clients
                        <span class="mainMenu desc">
                             <br/>The impact of bad experiences to your clients organization
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(6)" class="clients">what<br/>succesful<br/>clients do to<br/>succeed

                        <span class="mainMenu desc">
                            <br/>The practical steps that will drive success in the real world
                        </span></a>
                            </div>
                        </div>
                    </div>

                </div>


            </ion-slide>
            <ion-slide style="height: 1024px;">
                <div class="holder" style="top: 84px;left: 291px;">
                    <img ng-src="img/clients/clients_2_txt.png" width="378" height="236">
                </div>
                <div class="holder" style="top: 351px;left: 0px;">
                    <img ng-src="img/clients/slide_clients_2.png" width="1024" height="674">
                </div>
                <div class="holder" id="evoHotSpots" style="top:0px;left:0px;" ng-controller="EvoSwipeCtrl" >
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 560px;left: 409px;"
                         ng-click="evolutionOpenPopUp('G1')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 560px;left: 519px;"
                         ng-click="evolutionOpenPopUp('G2')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 560px;left: 629px;"
                         ng-click="evolutionOpenPopUp('G3')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 560px;left: 734px;"
                         ng-click="evolutionOpenPopUp('G4')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 647px;left: 409px;"
                         ng-click="evolutionOpenPopUp('B1')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 647px;left: 519px;"
                         ng-click="evolutionOpenPopUp('B2')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 647px;left: 629px;"
                         ng-click="evolutionOpenPopUp('B3')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 647px;left: 734px;"
                         ng-click="evolutionOpenPopUp('B4')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 734px;left: 409px;"
                         ng-click="evolutionOpenPopUp('R1')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 734px;left: 519px;"
                         ng-click="evolutionOpenPopUp('R2')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 734px;left: 629px;"
                         ng-click="evolutionOpenPopUp('R3')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 734px;left: 734px;"
                         ng-click="evolutionOpenPopUp('R4')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 821px;left: 409px;"
                         ng-click="evolutionOpenPopUp('O1')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 821px;left: 519px;"
                         ng-click="evolutionOpenPopUp('O2')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 821px;left: 629px;"
                         ng-click="evolutionOpenPopUp('O3')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 821px;left: 734px;"
                         ng-click="evolutionOpenPopUp('O4')"></div>
                </div>

            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 80px;left: 291px;">
                    <img ng-src="img/clients/clients_3.png" width="620" height="481">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 80px;left: 290px;">
                    <img ng-src="img/clients/clients_5_copy.png" width="662" height="231">
                </div>
                <div class="holder" style="top: 359px;left: 290px;">
                    <img ng-src="img/clients/clients_5_diagram.png" width="653" height="320">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 81px;left: 291px;">
                    <img ng-src="img/clients/clients_6_top.png" width="604" height="341">
                </div>
                <div class="holder" style="top: 486px;left: 291px;">
                    <img ng-src="img/clients/clients_6_bottom.png" width="635" height="396">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 80px;left: 291px;">
                <img ng-src="img/clients/clients_7.png" width="646" height="550">
            </div>
                <div class="holder" style="top: 685px;left: 291px;">
                    <img ng-src="img/clients/clients_7_middle.png" width="659" height="238">
                </div>
                <div class="holder" style="top: 967px;left: 289px;">
                    <img ng-src="img/clients/clients_7_bottom.png" width="655" height="708">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top:0px;left:0px;" ng-controller="SlideSwipeCtrl" >
                    <div class="holder" style="top: 80px;left: 290px;">
                        <img ng-src="img/clients/client_08_txt.png" width="662" height="435">
                    </div>

                    <div class="holder" style="top: 595px;left: 291px;;">
                        <img ng-src="img/clients/Personalisation.png" width="662" height="80" ng-click="goToSlide(0,1)">
                    </div>
                    <div class="holder" style="top: 740px;left: 291px;">
                        <img ng-src="img/clients/Expectation.png" width="662" height="80" ng-click="goToSlide(1,1)">
                    </div>
                    <div class="holder" style="top: 853px;left: 291px;">
                        <img ng-src="img/clients/Resolution.png" width="662" height="80" ng-click="goToSlide(2,1)">
                    </div>
                    <div class="holder" style="top: 965px;left: 291px;">
                        <img ng-src="img/clients/Integrity.png" width="662" height="80" ng-click="goToSlide(3,1)">
                    </div>
                    <div class="holder" style="top: 1079px;left: 291px;">
                        <img ng-src="img/clients/time_effort.png" width="662" height="81" ng-click="goToSlide(4,1)">
                    </div>
                    <div class="holder" style="top: 1191px;left: 287px;">
                        <img ng-src="img/clients/Empathy.png" width="662" height="108" ng-click="goToSlide(5,1)">
                    </div>

                </div>

            </ion-slide>
        </ion-slide-box>






    </ion-content>



    <div class="rightcone clients" id="clientsconeright"></div>
    <div class="leftCorner clients" id="clientsconeleft"><img ng-src="img/title_clients.png" width="126" height="140">
    </div>
    <div class="evolOverlay" ng-click="evoCloseModal()"  ng-controller="EvoSwipeCtrl">

        <img  ng-src="{{nextImageSrc}}" id="evonextslide" on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()" width="{{slidewidth}}" height="{{slideheight}}" class=""/>

        <img ng-src="{{imageSrc}}" id="evocurrentslide" on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()" width="{{slidewidth}}" height="{{slideheight}}"  class=""/>

    </div>


</ion-view>
