<ion-view view-title="Clients">
    <ion-content>


        <ion-slide-box active-slide="myActiveSlide" on-slide-changed="slideChanged(index)"
                       delegate-handle="ClientSwipeDelegate">
            <ion-slide>
                <div class="box">
                    <div class="row">
                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(1)" class="clients">evolution of<br/>the
                                    customer<br/>focussed<br/>organisation<br/>
                        <span class="mainMenu desc">
                            <br/>A framework for guaging your clients maturity in focusing on its customers
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(2)" class="clients"><br/>CUSTOMER IS<br/>KING<br/>(OR
                                    QUEEN)<br/>
                        <span class="mainMenu desc">
                            <br/>Key stats - a shift in emphasis towards the customer
                        </span></a>
                            </div>
                        </div>

                        <!--div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(3)" class="clients">MARKET<br/>OPPORTUNITY
                    <span class="mainMenu desc">
                        <br/>
                    </span></a>
                            </div>
                        </div-->


                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(4)" class="clients"><br/>SEIZE THE<br/>OPPORTUNITY<br/>OR
                                    DECLINE?<br/>
                        <span class="mainMenu desc">
                           <br/>The consulting market opportunity in numbers
                        </span></a>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(5)" class="clients"><br/>THE<br/>Elevator<br/>Pitch<br/>
                        <span class="mainMenu desc">
                             <br/>The benefits and value we typically deliver through a focus on CX
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(6)" class="clients">Why customer experience matters
                                    to our clients
                        <span class="mainMenu desc">
                             <br/>The impact of bad experiences to your clients organization
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu clients">
                                <a href="#" ng-click="callSlide(7)" class="clients">what<br/>succesful<br/>clients do to<br/>succeed

                        <span class="mainMenu desc">
                            <br/>The practical steps that will drive success in the real world
                        </span></a>
                            </div>
                        </div>
                    </div>

                </div>


            </ion-slide>
            <ion-slide style="height: 1024px;">
                <div class="holder" style="top:0px;left:0px;">
                    <img ng-src="img/clients/slide_clients_2.png" width="1024" height="1024">
                </div>
                <div class="holder" id="evoHotSpots" style="top:0px;left:0px;" ng-controller="EvolutionSwipeCtrl">
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 560px;left: 409px;"
                         ng-click="evolutionOpenPopUp('G1')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 560px;left: 519px;"
                         ng-click="evolutionOpenPopUp('G2')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 560px;left: 629px;"
                         ng-click="evolutionOpenPopUp('G3')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 560px;left: 734px;"
                         ng-click="evolutionOpenPopUp('G4')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 647px;left: 409px;"
                         ng-click="evolutionOpenPopUp('B1')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 647px;left: 519px;"
                         ng-click="evolutionOpenPopUp('B2')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 647px;left: 629px;"
                         ng-click="evolutionOpenPopUp('B3')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 647px;left: 734px;"
                         ng-click="evolutionOpenPopUp('B4')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 734px;left: 409px;"
                         ng-click="evolutionOpenPopUp('R1')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 734px;left: 519px;"
                         ng-click="evolutionOpenPopUp('R2')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 734px;left: 629px;"
                         ng-click="evolutionOpenPopUp('R3')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 734px;left: 734px;"
                         ng-click="evolutionOpenPopUp('R4')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 821px;left: 409px;"
                         ng-click="evolutionOpenPopUp('O1')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 821px;left: 519px;"
                         ng-click="evolutionOpenPopUp('O2')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 821px;left: 629px;"
                         ng-click="evolutionOpenPopUp('O3')"></div>
                    <div class="my_hotspot" style="width: 82px;height: 76px;top: 821px;left: 734px;"
                         ng-click="evolutionOpenPopUp('O4')"></div>
                </div>

            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 80px;left: 291px;">
                    <img ng-src="img/clients/clients_3.png" width="620" height="481">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 80px;left: 291px;">
                    <img ng-src="img/clients/clients_4.png" width="657" height="715">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 80px;left: 290px;">
                    <img ng-src="img/clients/full_clients_5.png" width="662" height="599">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 80px;left: 290px;">
                    <img ng-src="img/clients/full_clients_6.png" width="635" height="802">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 80px;left: 289px;">
                    <img ng-src="img/clients/clients_7.png" width="661" height="1595">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top:0px;left:0px;" ng-controller="SlideSwipeCtrl">
                    <div class="holder" style="top: 80px;left: 290px;">
                        <img ng-src="img/clients/client_08_txt.png" width="662" height="435">
                    </div>

                    <div class="holder" style="top: 595px;left: 291px;;">
                        <img ng-src="img/clients/Personalisation.png" width="662" height="80" ng-click="goToSlide(0,1)">
                    </div>
                    <div class="holder" style="top: 740px;left: 291px;">
                        <img ng-src="img/clients/Expectation.png" width="662" height="80" ng-click="goToSlide(1,1)">
                    </div>
                    <div class="holder" style="top: 853px;left: 291px;">
                        <img ng-src="img/clients/Resolution.png" width="662" height="80" ng-click="goToSlide(2,1)">
                    </div>
                    <div class="holder" style="top: 965px;left: 291px;">
                        <img ng-src="img/clients/Integrity.png" width="662" height="80" ng-click="goToSlide(3,1)">
                    </div>
                    <div class="holder" style="top: 1079px;left: 291px;">
                        <img ng-src="img/clients/time_effort.png" width="662" height="81" ng-click="goToSlide(4,1)">
                    </div>
                    <div class="holder" style="top: 1191px;left: 287px;">
                        <img ng-src="img/clients/Empathy.png" width="662" height="108" ng-click="goToSlide(5,1)">
                    </div>

                </div>

            </ion-slide>
        </ion-slide-box>


    <div class="holder evolOverlay" ng-controller="EvolutionSwipeCtrl" style="left: 0px;top:0px;" ng-click="evolClose()">
            <ion-slide-box show-pager="false" delegate-handle="EvolutionSwipe">
                <ion-slide style="background: transparent;" ng-repeat="oImage in evolImages">
                    <img ng-src="{{oImage.src}}" class="fullscreen-image" width="{{oImage.width}}"
                         height="{{oImage.height}}" />
                </ion-slide>
            </ion-slide-box>
        </div>



    </ion-content>
    <div class="rightcone clients"></div>
    <div class="leftCorner clients"><img ng-src="img/title_clients.png" width="126" height="140">
    </div>
</ion-view>
