<ion-view view-title="KPMG">
  <ion-content>




      <ion-slide-box active-slide="myActiveSlide" on-slide-changed="slideChangedKPMG(index)">
          <ion-slide >
              <div class="holder" style="top: 82px;left: 290px;">
                  <img ng-src="img/kpmg/kpmg_9.jpg" width="667" height="531">
              </div>
              <div class="my_hotspot" style="width: 587px;height: 65px;top: 295px;left: 330px;" ng-click="callUrl('mailto:go-fmcustomercoe@kpmg.com')"></div>
              <div class="my_hotspot" style="width: 217px;height: 53px;top: 561px;left: 291px;" ng-click="callUrl('mailto:JulioJHernandez@kpmg.com')"></div>
              <div class="my_hotspot" style="width: 330px;height: 53px;top: 561px;left: 618px;" ng-click="callUrl('mailto:martin.herbert@kpmg.co.uk')"></div>
          </ion-slide>
          <ion-slide >
              <div class="holder" style="top: 82px;left: 290px;">
                  <img ng-src="img/kpmg/kpmg_9.jpg" width="667" height="531">
              </div>
              <div class="my_hotspot" style="width: 587px;height: 65px;top: 295px;left: 330px;" ng-click="callUrl('mailto:go-fmcustomercoe@kpmg.com')"></div>
              <div class="my_hotspot" style="width: 217px;height: 53px;top: 561px;left: 291px;" ng-click="callUrl('mailto:JulioJHernandez@kpmg.com')"></div>
              <div class="my_hotspot" style="width: 330px;height: 53px;top: 561px;left: 618px;" ng-click="callUrl('mailto:martin.herbert@kpmg.co.uk')"></div>
          </ion-slide>
          <ion-slide >
              <div class="holder" style="top: 82px;left: 290px;">
                  <img ng-src="img/kpmg/kpmg_9.jpg" width="667" height="531">
              </div>
              <div class="my_hotspot" style="width: 587px;height: 65px;top: 295px;left: 330px;" ng-click="callUrl('mailto:go-fmcustomercoe@kpmg.com')"></div>
              <div class="my_hotspot" style="width: 217px;height: 53px;top: 561px;left: 291px;" ng-click="callUrl('mailto:JulioJHernandez@kpmg.com')"></div>
              <div class="my_hotspot" style="width: 330px;height: 53px;top: 561px;left: 618px;" ng-click="callUrl('mailto:martin.herbert@kpmg.co.uk')"></div>
          </ion-slide>
      </ion-slide-box>

  </ion-content>
    <div class="rightcone kpmg" class="kpmg"></div>
    <div class="leftCorner kpmg"><img ng-src="img/title_kpmg.png" width="131" height="111" >
    </div>
</ion-view>
