<ion-view view-title="KPMG">
  <ion-content>




      <ion-slide-box ng-cloak active-slide="myActiveSlide" on-slide-changed="slideChangedKPMG(index)" on delegate-handle="KPMGSwipeHandle">
        <ion-slide class="whiteBg">
          <div class="box" id="kpmgmenu">
            <div class="row">
              <div class="mainMenuWrap">
                <div class="mainMenu kpmg">
                  <a href="#" ng-click="callSlide(1)" class="kpmg"><br/>Propelling<br/>your clients
                       </a>
                </div>
              </div>

              <div class="mainMenuWrap">
                <div class="mainMenu kpmg">
                  <a href="#" ng-click="callSlide(2)" class="kpmg">Customer Experience Toolkit
                     </a>
                </div>
              </div>

              <div class="mainMenuWrap">
                <div class="mainMenu kpmg">
                  <a href="#" ng-click="callSlide(3)" class="kpmg">Delivery method helicopter view
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="mainMenuWrap">
                <div class="mainMenu kpmg">
                  <a href="#" ng-click="callSlide(4)" class="kpmg">Building your technical capability
                  </a>
                </div>
              </div>

              <div class="mainMenuWrap">
                <div class="mainMenu kpmg">
                  <a href="#" ng-click="callSlide(5)" class="kpmg"><br/>Market-leading delivery tools
           </a>
                </div>
              </div>

              <div class="mainMenuWrap">
                <div class="mainMenu kpmg">
                  <a href="#" ng-click="callSlide(6)" class="kpmg"><br/>Go-to-market strategy
         </a>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="mainMenuWrap short">
                <div class="mainMenu kpmg short">
                    <a href="#" ng-click="callSlide(7)" class="kpmg"><br/>Sales messages
</a>
                </div>
            </div>

                <div class="mainMenuWrap">
                    <div class="mainMenu kpmg short">
                        <a href="#" ng-click="callSlide(8)" class="kpmg">Client target profile
</a>
                    </div>
                </div>

                <div class="mainMenuWrap">
                    <div class="mainMenu kpmg short">
                        <a href="#" ng-click="callSlide(9)" class="kpmg"><br/>Your Contacts
</a>
                    </div>
                </div>

            </div>

          </div>

          </div>
        </ion-slide>
          <ion-slide>
              <div class="holder" style="width: 560px;height: 75px;line-height:120%;top: 80px;left: 290px;font-family: UniversforKPMG;text-transform:uppercase;color: #009fda;font-size: 24px;font-weight: 300;text-align: left;">
                  So...what can you do to propel your clients into the customer experience stratosphere?
              </div>
              <div class="holder" ng-click="callSlide(2)" style="top: 255px;left: 289px;">
                  <img ng-src="img/kpmg/3_2_up_link.png" width="582" height="108">
              </div>
              <div class="holder" ng-click="callSlide(4)" style="top: 422px;left: 289px;">
                  <img ng-src="img/kpmg/3_2_down_link.png" width="555" height="64">
              </div>
          </ion-slide>

          <ion-slide>
          <div class="holder" style="top: 81px;left: 291px;">
              <img ng-src="img/kpmg/kpmg_3_copy.png" width="665" height="419">
          </div>

          <div class="holder" style="top: 495px;left: 0px;">
              <img ng-src="img/kpmg/kpmg_3_booklet.png" width="1024" height="702">
          </div>

              <div class="my_hotspot" style="width: 203px;height: 151px;top: 655px;left: 290px;" ng-click="booklet('1_OM025549A_global_customer_toolkit')"></div>
              <div class="my_hotspot" style="width: 203px;height: 151px;top: 655px;left: 525px;" ng-click="booklet('2_toolkit')"></div>
              <div class="my_hotspot" style="width: 203px;height: 151px;top: 655px;left: 755px;" ng-click="booklet('3_our_work_in_this_space')"></div>
              <div class="my_hotspot" style="width: 203px;height: 151px;top: 840px;left: 290px;" ng-click="booklet('4_insights')"></div>
              <div class="my_hotspot" style="width: 203px;height: 151px;top: 840px;left: 525px;" ng-click="booklet('5_delivery')"></div>
              <div class="my_hotspot" style="width: 203px;height: 151px;top: 840px;left: 755px;" ng-click="booklet('6_skills_capability')"></div>




      </ion-slide>


          <ion-slide ng-controller="SlideSwipeCtrl" >
              <div class="holder" style="top: 79px;left: 291px;">
                  <img ng-src="img/kpmg/kpmg_4_text.png" width="633" height="400">
              </div>
              <div class="holder" style="top: 560px;left: 167px;">
                  <img ng-src="img/kpmg/kpmg_4_graph.png" width="779" height="486">
              </div>


              <div class="my_hotspot" style="width: 130px;height: 120px;top: 722px;left: 174px;" ng-click="goToSlide(0,2)"></div>
              <div class="my_hotspot" style="width: 130px;height: 120px;top: 632px;left: 370px;" ng-click="goToSlide(1,2)"></div>
              <div class="my_hotspot" style="width: 130px;height: 120px;top: 892px;left: 292px;" ng-click="goToSlide(2,2)"></div>
              <div class="my_hotspot" style="width: 130px;height: 120px;top: 937px;left: 578px;" ng-click="goToSlide(3,2)"></div>
              <div class="my_hotspot" style="width: 130px;height: 120px;top: 843px;left: 832px;" ng-click="goToSlide(4,2)"></div>




          </ion-slide>

          <ion-slide >
              <div class="holder" style="top: 81px;left: 290px;">
                  <img ng-src="img/kpmg/3_5_top.png" width="659" height="398">
              </div>
              <div class="holder" style="top: 507px;left: 291px;;">
                  <img ng-src="img/kpmg/3_5_DIAGRAM.png" width="665" height="393">
              </div>
              <div class="holder" style="top: 930px;left: 291px;">
                  <img ng-src="img/kpmg/3_5_icons.png" width="665" height="312">
              </div>
          </ion-slide>
          <ion-slide >
              <div class="holder" style="top: 81px;left: 283px;">
                  <img ng-src="img/kpmg/kpmg_6.png" width="668" height="443">

              </div>
              <div class="holder" style="top: 517px;left: 199px;">
                  <img ng-src="img/kpmg/kpmg_6_icon.png" width="73" height="131">

              </div>
              <div class="holder" style="width: 665px;height: 361px;top: 540px;left: 291px;" ng-click="">
                  <ion-scroll  min-zoom="0.3" zooming="true" direction="xy" style="width: 665px;height: 361px">
                      <div style="width: 2000px;height:981px; background: url('img/journey_map.jpg');background-repeat: no-repeat;"></div>
                  </ion-scroll>
              </div>
          </ion-slide>
          <ion-slide >
              <div class="holder" style="top: 78px;left: 291px;">
              <img ng-src="img/kpmg/3_7_header.png" width="665" height="80">
          </div>
              <div class="holder" style="top: 197px;left: 291px;">
                  <img ng-src="img/kpmg/3_7_top.png" width="666" height="713ioni">
              </div>
              <div class="holder" style="top: 939px;left: 291px;">
                  <img ng-src="img/kpmg/3_7_bottom.png" width="666" height="730">
              </div>
          </ion-slide>
          <ion-slide >
              <div class="holder" style="top: 83px;left: 227px;">
                  <img ng-src="img/kpmg/kpmg_8.png" width="730" height="691">
              </div>
          </ion-slide>
          <ion-slide>
              <div class="holder" style="top: 78px;left: 290px;;">
                  <img ng-src="img/kpmg/copy.png" width="634" height="587">
              </div>
          </ion-slide>
          <ion-slide >
              <div class="holder" style="top: 83px;left: 290px;">
                  <img ng-src="img/kpmg/kpmg_9.png" width="667" height="531">
              </div>
          </ion-slide>
      </ion-slide-box>

  </ion-content>
    <ion-slide-pager></ion-slide-pager>
    <div class="rightcone kpmg" id="kpmgconeright" class="kpmg"></div>
    <div class="leftCorner kpmg" id="kpmgconeleft"><a href="#/app"><img ng-src="img/title_kpmg.png" width="131" height="111" ></a>
    </div>
</ion-view>
