<ion-view view-title="KPMG">
    <ion-content>




        <ion-slide-box active-slide="myActiveSlide" on-slide-changed="slideChangedKPMG(index)" delegate-handle="KPMGSwipeHandle">
            <ion-slide>
                <div class="box">
                    <div class="row">
                        <div class="mainMenuWrap">
                            <div class="mainMenu kpmg">
                                <a href="#" ng-click="callSlide(1)" class="kpmg"><br/>Propelling<br/>your clients
                        <span class="mainMenu desc">
                            <br/>Propelling your clients into<br/>the customer experience<br/>stratosphere
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu kpmg">
                                <a href="#" ng-click="callSlide(2)" class="kpmg">Customer Experience Toolkit
                        <span class="mainMenu desc">
                           <br/>The KPMG global customer experience toolkit<br/>
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu kpmg">
                                <a href="#" ng-click="callSlide(3)" class="kpmg">Delivery method helicopter view
                        <span class="mainMenu desc">
                            <br/>Overview of our modular CX transformation method
                        </span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mainMenuWrap">
                            <div class="mainMenu kpmg">
                                <a href="#" ng-click="callSlide(4)" class="kpmg">Building your technical capability
                        <span class="mainMenu desc">
                            <br/>Technical training to develop your CX capability
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu kpmg">
                                <a href="#" ng-click="callSlide(5)" class="kpmg"><br/>Market-leading delivery tools
                        <span class="mainMenu desc">
                            <br/>An overview of software assets for you and your teams
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu kpmg">
                                <a href="#" ng-click="callSlide(6)" class="kpmg"><br/>Go-to-market strategy
                        <span class="mainMenu desc">
                            <br/>How you can dominate CX in your geography
                        </span></a>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="mainMenuWrap">
                            <div class="mainMenu kpmg">
                                <a href="#" ng-click="callSlide(7)" class="kpmg"><br/>Sales messages
                        <span class="mainMenu desc">
                            <br/>Messages to support you win high value CX work
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu kpmg">
                                <a href="#" ng-click="callSlide(8)" class="kpmg">Client target profile
                        <span class="mainMenu desc">
                            <br/>text here text here
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu kpmg">
                                <a href="#" ng-click="callSlide(9)" class="kpmg"><br/>Your Contacts
                        <span class="mainMenu desc">
                            <br/>Who to reach out to for further support
                        </span></a>
                            </div>
                        </div>

                    </div>

                </div>

                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 80px;left: 289px;">
                    <img ng-src="img/kpmg/kpmg_2.png" width="582" height="406">
                </div>
            </ion-slide>

            <ion-slide>
                <div class="holder" style="top:0px;left:0px;">
                    <img ng-src="img/kpmg/kpmg_3_copy.png" width="1007" height="680">
                </div>

                <div class="holder" style="top: 495px;left: 0px;">
                    <img ng-src="img/kpmg/kpmg_3_booklet.png" width="1024" height="702">
                </div>

                <div class="my_hotspot" style="width: 203px;height: 151px;top: 655px;left: 290px;" ng-click="openPDF('1_global_customer_experience_toolkit')"></div>
                <div class="my_hotspot" style="width: 203px;height: 151px;top: 655px;left: 525px;" ng-click="openPDF('2_work_in_space')"></div>
                <div class="my_hotspot" style="width: 203px;height: 151px;top: 655px;left: 755px;" ng-click="openPDF('3_delivery')"></div>
                <div class="my_hotspot" style="width: 203px;height: 151px;top: 840px;left: 290px;" ng-click="openPDF('4_insights')"></div>
                <div class="my_hotspot" style="width: 203px;height: 151px;top: 840px;left: 525px;" ng-click="openPDF('5_toolkit')"></div>
                <div class="my_hotspot" style="width: 203px;height: 151px;top: 840px;left: 755px;" ng-click="openPDF('6_skills_and_capability')"></div>




            </ion-slide>


            <ion-slide ng-controller="SlideSwipeCtrl">
                <div class="holder" style="top: 79px;left: 167px;">
                    <img ng-src="img/kpmg/kpmg_4_base.png" width="779" height="967">
                </div>


                <div class="my_hotspot" style="width: 130px;height: 120px;top: 722px;left: 174px;" ng-click="goToSlide(0,2)"></div>
                <div class="my_hotspot" style="width: 130px;height: 120px;top: 632px;left: 370px;" ng-click="goToSlide(1,2)"></div>
                <div class="my_hotspot" style="width: 130px;height: 120px;top: 892px;left: 292px;" ng-click="goToSlide(2,2)"></div>
                <div class="my_hotspot" style="width: 130px;height: 120px;top: 937px;left: 578px;" ng-click="goToSlide(3,2)"></div>
                <div class="my_hotspot" style="width: 130px;height: 120px;top: 843px;left: 832px;" ng-click="goToSlide(4,2)"></div>




            </ion-slide>

            <ion-slide >
                <div class="holder" style="top: 81px;left: 290px;">
                    <img ng-src="img/kpmg/kpmg_5.png" width="666" height="1161">
                </div>
            </ion-slide>
            <ion-slide >
                <div class="holder" style="top: 81px;left: 283px;">
                    <img ng-src="img/kpmg/kpmg_6.png" width="673" height="468">
                </div>
                <div class="holder" style="width: 665px;height: 361px;;top: 485px;left: 291px;" ng-click="">
                    <ion-scroll zooming="true" direction="xy" style="width: 665px;height: 361px">
                        <div style="width: 4095px; height: 2008px; background: url('img/journey_map.jpg') repeat"></div>
                    </ion-scroll>
                </div>
            </ion-slide>
            <ion-slide >
                <div class="holder" style="top: 78px;left: 291px;">
                    <img ng-src="img/kpmg/kpmg_7.png" width="666" height="1576">
                </div>
            </ion-slide>
            <ion-slide >
                <div class="holder" style="top: 83px;left: 227px;">
                    <img ng-src="img/kpmg/kpmg_8.png" width="730" height="691">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="holder" style="top: 83px;left: 290px;">
                    <img ng-src="img/kpmg/kpmg_target.png" width="633" height="636">
                </div>
            </ion-slide>
            <ion-slide >
                <div class="holder" style="top: 83px;left: 290px;">
                    <img ng-src="img/kpmg/kpmg_9.png" width="667" height="531">
                </div>
            </ion-slide>
        </ion-slide-box>

    </ion-content>
    <ion-slide-pager></ion-slide-pager>
    <div class="rightcone kpmg" id="kpmgconeright" class="kpmg"></div>
    <div class="leftCorner kpmg" id="kpmgconeleft"><img ng-src="img/title_kpmg.png" width="131" height="111" >
    </div>
</ion-view>