<ion-view view-title="Welcome">
  <ion-content>


    <div id="homesliceleft"></div>
    <div id="homebutworld"><a href="#/world/0">HOW HAS THE<BR/>
      <strong>WORLD</strong> CHANGED</a></div>
    <div id="homeslicecentre"></div>
    <div id="homebutclients"><a href="#">HOW HAVE OUR<BR/>
      <strong>CLIENTS</strong> CHANGED</a></div>
    <div id="homesliceright"></div>


    <div id="homebutkpmg"><a href="#">HOW CAN<BR/>
      <strong>KPMG</strong> HELP</a></div>
    <div id="homeheader"> KPMG CUSTOMER<br/>
      EXPERIENCE<br/>
      TOOLKIT<br/>
    </div>

  </ion-content>
</ion-view>
