<ion-view view-title="Welcome">
    <ion-content>
    <div id="splash">
        <div id="homesliceleft"></div>
        <div id="homeslicecentre"></div>
        <div id="homesliceright"></div>


        <div id="homeheader"> KPMG CUSTOMER<br/>
            EXPERIENCE<br/>
            TOOLKIT<br/>
        </div>

        <div ng-controller="HeaderCtrl">
            <div id="homebutkpmg" ng-click="goKPMG()">
                <a href="#">HOW CAN<BR/>
                <strong>KPMG</strong> HELP</a>
            </div>
            <div id="homebutworld" ng-click="goWorld()">
                <a href="#">HOW HAS THE<BR/>
                <strong>WORLD</strong> CHANGED</a>
            </div>
            <div id="homebutclients" ng-click="goClients()">
                <a href="#">HOW HAVE OUR<BR/>
                <strong>CLIENTS</strong> CHANGED</a>
            </div>
        </div>
    </div>


    </ion-content>
</ion-view>
