<ion-view view-title="World">
    <ion-content>

        <ion-slide-box active-slide="myActiveSlide" on-slide-changed="slideChanged(index)" delegate-handle="WorldSwipe">

            <ion-slide class="whiteBg">
                <div class="box" id="worldmenu">
                    <div class="row">

                        <div class="mainMenuWrap">
                            <div class="mainMenu world">
                                <a href="#" ng-click="callSlide(1)" class="world"><br/>Welcome<br/>from Julio<br/>
</a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu world">
                                <a href="#" ng-click="callSlide(2)" class="world">The age<br/>of the<br/>customer
</a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu world">
                                <a href="#" ng-click="callSlide(3)" class="world">Client<br/>perspectives<br/>on
                                    customer
</a>
                            </div>
                        </div>


                    </div>


                    <div class="row">


                        <div class="mainMenuWrap">
                            <div class="mainMenu world">
                                <a href="#" ng-click="callSlide(4)" class="world">Four<br/>Market<br/>Imperatives
</a>
                            </div>
                        </div>




                    </div>

                </div>

                </div>
            </ion-slide>

            <ion-slide >
                <div class="holder" style="top: 0px;left: 0px;">


                        <img ng-src="img/world/JulioSlide.png" width="1024" height="768">

                </div>
                <!--div class="holder" style="top:200px;left: 405px;">
                    <img src="../img/world/video%20title%20press.png">
                </div-->
            </ion-slide>
            <ion-slide>
                <div class="holder" style="left: 0px;top: 0px; height: 800px;" ng-controller="SlideSwipeCtrl" ng-init="initModal()">
                    <div class="holder" style="top: 86px;left: 291px;">
                        <img ng-src="img/world/upper_quote.png" width="660" height="179">
                    </div>
                    <div class="holder" style="top: 281px;left: 283px;">
                        <img ng-src="img/world/age_of_manuf.png" width="191" height="129" ng-click="goToSlide(0,0)">
                    </div>
                    <div class="holder" style="top: 281px;left: 474px;">
                        <img ng-src="img/world/age_of_distrib.png" width="173" height="128" ng-click="goToSlide(1,0)">
                    </div>
                    <div class="holder" style="top: 281px;left: 647px;">
                        <img ng-src="img/world/age_of_info.png" width="176" height="129" ng-click="goToSlide(2,0)">
                    </div>
                    <div class="holder" style="top: 281px;left: 823px;">
                        <img ng-src="img/world/age_of_customer.png" width="180" height="129" ng-click="goToSlide(3,0)">
                    </div>
                    <div class="holder" style="top: 468px;left: 287px;">
                        <img ng-src="img/world/quote.png" width="666" height="101">
                    </div>
                </div>

            </ion-slide>

            <ion-slide>
                <div class="holder  whiteBg" style="top:0px;left: 0px;width: 1024px;height: 800px;">
                    <div class="holder" style="top: 0px;left: 0px;">
                        <img ng-src="img/world/1_background.png" width="1024" height="688">
                    </div>

                    <div class="holder" style="top: 0px;left: 172px;">
                        <img ng-src="img/world/video_01.png"  width="328" height="396"
                             ng-click="playVideo('videos/first_direct.mp4')">
                    </div>


                    <div class="holder" style="top: 0px;left: 431px;">
                        <img ng-src="img/world/video_02.png"  width="328" height="436"
                             ng-click="playVideo('videos/ybs.mp4')">
                    </div>
                    <div class="holder" style="top: 0px;left: 708px;">
                        <img ng-src="img/world/video_03.png" width="316" height="397"
                             ng-click="playVideo('videos/mclaren.mp4')">
                    </div>
                    <div class="holder" style="top: 80px;left: 117px;">
                        <img ng-src="img/world/client_perspective_stripe.png" width="582" height="55">
                    </div>
                </div>

            </ion-slide>

            <ion-slide>
                <div class="holder" style="top: 81px;left: 247px;">
                    <img ng-src="img/world/ipad1_4.png" width="624" height="470">
                </div>
            </ion-slide>

        </ion-slide-box>



    </ion-content>

    <div class="leftCorner" id="worldconeleft"><img ng-src="img/title_world.png" width="124" height="140"></div>
    <div class="rightcone" id="worldconeright"></div>

    <div class="holder videoOverlay" id="videoPOP" style="left: 0px;top:0px;" ng-click="videoClose()">

        <div class="holder" style="left:112px;top:100px;"><video id="myVideoPlayer"  ng-src="{{videoSrc}}" width="800" height="480"
               controls="controls" autoplay></video></div>
        <div class="holder" style="left:895px;top:97px;">
            <img ng-src="img/roundclose.png" width="47" height="47" />
        </div>
    </div>
</ion-view>
