<ion-view view-title="World">
    <ion-content>

        <ion-slide-box active-slide="myActiveSlide" on-slide-changed="slideChanged(index)">
            <ion-slide>
                <div class="box">
                    <div class="row">
                        <div class="mainMenuWrap">
                            <div class="mainMenu world">
                                <a href="#" ng-click="callSlide(1)" class="world">Welcome<br/>from Julio<br/>
                        <span class="mainMenu desc">
                            <br/><br/>An introduction from Julio Hernandez, Global Customer COE Lead
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu world">
                                <a href="#" ng-click="callSlide(2)" class="world">The age<br/>of the<br/>customer
                        <span class="mainMenu desc">
                            <br/><br/>The changing nature of work and the dawn of a new age focused on the customer
                        </span></a>
                            </div>
                        </div>

                        <div class="mainMenuWrap">
                            <div class="mainMenu world">
                                <a href="#" ng-click="callSlide(3)" class="world">Client<br/>perspectives<br/>on
                                    customer
                        <span class="mainMenu desc">
                            <br/><br/>Hear from industry experts from around the world
                        </span></a>
                            </div>
                        </div>

                    </div>



                    <div class="row">


                        <div class="mainMenuWrap">
                            <div class="mainMenu world">
                                <a href="#" ng-click="callSlide(4)" class="world">Four<br/>Market<br/>Imperatives
                        <span class="mainMenu desc">
                            <br/><br/>The four things clients need to address to put their customers first
                        </span></a>
                            </div>
                        </div>

                    </div>

                </div>

                </div>
            </ion-slide>

            <ion-slide ng-controller="VideoCtrl">
<div class="holder whiteBg">                <div class="holder" style="top:0px;left: 320px;">
                    <img ng-src="img/world/skyscraper.png" width="648" height="691" class="skyscraper">
                </div>
                <div class="holder" id="playJulio" style="top:255px;left: 369px;" ng-click="play('videos/small.mp4')">
                    <img ng-src="img/world/video_title.png" width="343" height="112">
                </div>
</div>
                <!--div class="holder" style="top:200px;left: 405px;">
                    <img src="../img/world/video%20title%20press.png">
                </div-->
            </ion-slide>
            <ion-slide>
                <div class="holder" style="left: 0px;top: 0px; height: 800px;" ng-controller="FullscreenImageCtrl">
                    <div class="holder" style="top: 93px;left: 290px;">
                        <img ng-src="img/world/upper_quote.png" width="370" height="136">
                    </div>
                    <div class="holder" style="top: 304px;left: 271px;">
                        <img ng-src="img/world/age_of_manuf.png" width="191" height="128" ng-click="showImage(1)">
                    </div>
                    <div class="holder" style="top: 304px;left: 462px;">
                        <img ng-src="img/world/age_of_distrib.png" width="173" height="128"  ng-click="showImage(2)">
                    </div>
                    <div class="holder" style="top: 304px;left: 635px;">
                        <img ng-src="img/world/age_of_info.png" width="176" height="128"  ng-click="showImage(3)">
                    </div>
                    <div class="holder" style="top: 304px;left: 811px;">
                        <img ng-src="img/world/age_of_customer.png" width="180" height="128"  ng-click="showImage(4)">
                    </div>
                    <div class="holder" style="top: 478px;left: 285px;">
                        <img ng-src="img/world/quote.png" width="617" height="265">
                    </div>
                </div>

            </ion-slide>

            <ion-slide>
                <div class="holder" style="top: 81px;left: 247px;">
                    <img ng-src="img/world/ipad1_4.png" width="624" height="470">
                </div>
            </ion-slide>

            <ion-slide ng-controller="VideoCtrl" >
                <div class="holder"  style="top:0px;left: 0px;width: 1024px;height: 800px;background-color: #080808;">
                    <div class="holder" style="top:0px;left: 95px;">
                    <img ng-src="img/world/liberty.png" width="410" height="498">
                </div>
                <div class="holder" style="top:0px;left: 333px;">
                    <img ng-src="img/world/globe.png" width="364" height="498">
                </div>
                <div class="holder" style="top:0px;left: 544px;">
                    <img ng-src="img/world/porsche.png" width="364" height="498">
                </div>
                <div class="holder" style="top:0px;left: 755px;">
                    <img ng-src="img/world/sydney.png" width="269" height="498">
                </div>
                <div class="holder" style="top:361px;left: 0px;">
                    <img ng-src="img/world/client_perspective_stripe.png" width="517" height="55">
                </div>
                <div class="holder" style="top:464px;left: 67px;">
                    <img ng-src="img/world/video_01.png" width="267" height="216" ng-click="playVideo('videos/big_buck_bunny.mp4')">
                </div>
                <div class="holder" style="top:464px;left: 279px;">
                    <img ng-src="img/world/video_02.png" width="270" height="216" ng-click="playVideo('videos/small.mp4')">
                </div>
                <div class="holder" style="top:464px;left: 490px;">
                    <img ng-src="img/world/video_03.png" width="270" height="216" ng-click="playVideo('videos/big_buck_bunny.mp4')">
                </div>
                <div class="holder" style="top:464px;left: 701px;">
                    <img ng-src="img/world/video_04.png" width="270" height="216" ng-click="playVideo('videos/small.mp4')">
                </div></div>
            </ion-slide>
        </ion-slide-box>

    </ion-content>
    <div class="leftCorner"><div class="holder" style="top: 31px;left: 31px;"><img ng-src="img/title_world.png" width="109" height="139" ></div>
    </div>
    <div class="rightcone"></div>
</ion-view>
