<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/pages.css" rel="stylesheet">
    <link href="css/retina.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/ng-pdfviewer/example/pdf.compat.js"></script>
    <script src="lib/ng-pdfviewer/example/pdf.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/angular-retina/lib/angular-retina.js"></script>
    <script src="lib/ngvideo/dist/ng-video.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="lib/ng-pdfviewer/ng-pdfviewer.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/clientscontroller.js"></script>
    <script src="js/kpmgcontroller.js"></script>
    <script src="js/popup.js"></script>
</head>

<body ng-app="starter">
<div id="KPMGheader">
    <div id="toplogo"><a href="#/app">&#xA0;</a></div>
    <div id="navbutworld"><a href="#/world/0">HOW HAS THE<br>
        <strong>WORLD</strong> CHANGED</a></div>
    <div id="navbutclients"><a href="#/clients/0">HOW HAVE OUR<br>
        <strong>CLIENTS</strong> CHANGED</a></div>
    <div id="navbutkpmg"><a href="#/kpmg/0">HOW CAN<br>
        <strong>KPMG</strong> HELP</a></div>

</div>
<ion-nav-view></ion-nav-view>
<script id="image-modal.html" type="text/ng-template">
    <div class="modal image-modal transparent" ng-click="closeModal()">
        <ion-pane class="transparent">
            <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
        </ion-pane>
    </div>
</script>
<script id="video-popover.html" type="text/ng-template">
    <div class="modal transparent fullscreen-player" ng-click="closeModalVideo()">
        <video id="myVideoPlayer" class="centermeVideo" ng-src="{{clipSrc}}" width="1024" height="768" controls="controls" autoplay></video>
    </div>
</script>
<script src="js/move.min.js"></script>
<script>


</script>
</body>
</html>
