.world {
	color:  #c84e00;
}

.clients {
	color:  #00505c;
}

.kpmg {
	color: #0095cc;
}

.clients a {

}

.navButton {

}

.mainButton {
    font-family: "UniversforKPMG Light";
    color: #c84e00;
    font-size: 22px;
    line-height: 25px;


}

.mainButton img {
   margin: 5px;
}



.mainButton img:hover {

}

.mainButton a {
    color: #c84e00;
    text-decoration: none;
}
.mainButton .blockk {
    float: left;
    color: #cc00dd;
    margin-right: 18px;
}

.mainMenu {
    float:left;
    font-family: UniversforKPMG Light;
    width:170px;
    height: 120px;
    color: #c84e00;
    font-size: 19px;
    text-align: left;
    text-transform: uppercase;


}
.slider {
  /*  background-color: #cc0000; */
}


.mainMenuWrap {
    width: 200px;
    height:220px;
}
.mainMenu a {

    display:block;
    height: 162px;
    text-decoration: none;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    background-image:url("../img/worldarrow.png");
    background-repeat: no-repeat;
    background-position: 1px 140px;
    padding-bottom: 40px;
}
.mainMenu a:active {
    background-position: 15px 140px;
}

.mainMenu .desc {
    font-family: UniversforKPMG Light;
    color: #717171;
    font-size: 11.36px;
	line-height:12.5px;

	text-transform: none;
}

.mainMenu.clients a {
	background-image:url("../img/clientsarrow.png");
}

.mainMenu.kpmg a {
	background-image:url("../img/kpmgarrow.png");
}

.box {
    margin-left:284px;
    margin-top:0px;
    height:500px;
}

/* top nab */
#navbutworld {
	display: block;
	font-family: UniversforKPMG;
	color: #c84e00;
	width: 300px;
	height: 46px;
	font-size: 14.6px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 18px;/* Approximation due to font substitution */
	text-align: left;
	position: absolute;
	top: 27px;
	left: 263px;
}
#navbutworld a {
	width: 300px;
	height: 46px;
	display: block;
	color: #c84e00;
	text-decoration: none;
	background-image: url(../img/roundworld.png);
	background-repeat: no-repeat;
	background-position: 174px 0px;
	width: 320px;
	height: 46px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
#navbutworld a:active {
	background-position: 174px 0px;

}
#navbutkpmg {
		display:block;
	font-family: UniversforKPMG;
	width:300px;
	height:46px;
	font-size: 14.6px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height:  18px;/* Approximation due to font substitution */
	text-align: left;
	position: absolute;
	top: 27px;
	left: 829px;
}
#navbutkpmg a {
	width: 300px;
	height: 46px;
	display: block;
	color: #009fda;
	text-decoration: none;
	background-image: url(../img/roundkpmg.png);
	background-repeat: no-repeat;
	background-position: 104px 0px;
	width: 320px;
	height: 46px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
#navbutkpmg a:active {
	background-position: 104px 0px;

}
#navbutclients {
	display:block;
	font-family: UniversforKPMG;
	color: #c84e00;
	width:300px;
	height:46px;
	font-size: 14.6px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height:  18px;/* Approximation due to font substitution */
	text-align: left;
	position: absolute;
	top: 27px;
	left: 543px;
}
#navbutclients a {
	width: 300px;
	height: 46px;
	display: block;
	color: #3b4e70;
	text-decoration: none;
	background-image: url(../img/roundclients.png);
	background-repeat: no-repeat;
	background-position: 174px 0px;
	width: 320px;
	height: 46px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
#navbutclients a:active {
	background-position: 174px 0px;

}
#toplogo {
	display: block;
	font-family: UniversforKPMG;
	color: #c84e00;
	width: 300px;
	height: 85px;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 23px;/* Approximation due to font substitution */
	text-align: left;
	position: absolute;
	top: 0px;
	left: 0px;
}
#toplogo a {
	width: 300px;
	height: 85px;
	display: block;
	color: #3b4e70;
	text-decoration: none;
	background-image: url(../img/kpmglogo.png);
	background-size: 104px 43px;
	background-repeat: no-repeat;
	background-position: 27px 24px;
	width: 320px;
	height: 85px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.KPMGheader {
    width:100%;
    height: 0px;
    position: relative;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;

}

.KPMGheader.open {
    top:0px;
	height:89px;



}

/* modal pop-op */

.transparent {
	background: transparent !important;
}
.image-modal {
	width: 100% !important;
	height: 100%;
	top: 0 !important;
	left: 0 !important;
}
.fullscreen-image {
	max-width: 100%;
	max-height: 100%;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
	.active .modal-backdrop-bg {
		opacity: .9;
	}
	.modal-backdrop-bg {
		-webkit-transition: opacity 300ms ease-in-out;
		transition: opacity 300ms ease-in-out;
		background-color: #000;
		opacity: 0;
	}
}

/* end of modal pop-up */

/* video popup */



.centerme {
	margin: 0 auto;
	width: 100%;
	height:100%;
}

.centermeVideo {
	margin: 0 auto;

}

.fullscreen-player {
	max-width: 100%;
	max-height: 100%;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: none;
	position: fixed;
	right: 0;
	top: 0;
}


.videocontrols {
	position: absolute;
	top: 15px;
	right: 25px;
	width: 48px;
	z-index: 5;
	text-align: center;
	color: white;
}

/* end of video popup */

.slider-pager-page.active {

}

.leftCorner {
	background-image: url("../img/common_world.jpg");
	-webkit-clip-path: polygon(0 0, 0% 100%, 77% 0);
	clip-path: polygon(0 0, 0% 100%, 77% 0);
	position: fixed;

	left: 0px;
	top:0px;
	z-index: 10;
	width: 272px;
	height: 916px;
	background-size: 292px 942px;
}

.leftCorner img {
	margin-left: 20px;
	margin-top: 20px;

}

.leftCorner.clients {
	background-image: url("../img/common_clients.jpg");
}

.leftCorner.kpmg {
	background-image: url("../img/common_kpmg.jpg");
	background-size: 292px 942px;

}


.rightcone {
	position:fixed;
	background-image: url("../img/common_world.jpg");
	right: 0px;
	bottom:0px;
	width: 93px;
	height: 313px;
	-webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.rightcone.clients {
	background-image: url("../img/common_clients.jpg");
}

.rightcone.kpmg {
	background-image: url("../img/common_kpmg.jpg");
}


.coneclients {
	 background-image: url("../img/common_clients.jpg");
 }

.conekpmg {
	background-image: url("../img/common_kpmg.jpg");
}
.whiteBg {
	background-image: url("../img/Background-image.jpg");
	background-repeat: no-repeat;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 800px;
}

.slider-pager {
	position: absolute;
	top: 10px;
	z-index: 1;
	right:20px;
	height: 15px;
	text-align: right;
}
.slider-pager .slider-pager-page {
	display: inline-block;
	margin: 0px 5px;
	width: 6px;
	color: #000;
	text-decoration: none;
	opacity: 0.3; }
.slider-pager .slider-pager-page.active {
	-webkit-transition: opacity 0.4s ease-in;
	transition: opacity 0.4s ease-in;
	opacity: 1; }

.slider-pager-page:not(.active) i.icon:before {

	   font-size: 10px;
   }

.slider-pager-page.active i.icon:before {

	font-size: 12px;
}