@charset "utf-8";
#homesliceleft {
	position: absolute;
	width: 472px;
	height: 768px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	top: 0px;
	left: 0px;
	background-image: url(../pageimg/left.png);
}
#homeslicecentre {
	background-image: url(../pageimg/middle_panel.png);
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 566px;
	height: 768px;
	position: absolute;
	top: 0px;
	left: 243px;
}
#homesliceright {
	background-image: url(../pageimg/right_panel.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 1024px;
	height: 768px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#homeheader {
	display:block;
	position: absolute;
	font-family: UniversforKPMG;
	color: #aaaaaa;
	font-size: 30.25px; /* Approximation due to font substitution */
	font-weight: 300;
	line-height: 48px; /* Approximation due to font substitution */
	text-align: left;
	top: 78px;
	left: 65px;
}
#homebutworld {
	display: block;
	font-family: UniversforKPMG;
	color: #c84e00;
	width: 300px;
	height: 46px;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 23px;/* Approximation due to font substitution */
	text-align: left;
	position: absolute;
	top: 374px;
	left: 78px;
}
#homebutworld a {
	width:300px;
	height:46px;
	display:block;
	color: #c84e00;
	text-decoration: none;
	background-image: url(../pageimg/worldround.png);
	background-repeat: no-repeat;
	background-position: 235px 0px;
	width:320px;
	height:46px;
	    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#homebutworld a:active {
	background-position: 240px 0px;

}
#homebutkpmg {
	display:block;
	font-family: UniversforKPMG;
	width:300px;
	height:46px;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 23px;/* Approximation due to font substitution */
	text-align: left;
	position: absolute;
	top: 374px;
	left: 824px;
}
#homebutkpmg a {
	width:300px;
	height:46px;
	display:block;
	color:  #009fda;
	text-decoration: none;
	background-image: url(../pageimg/kpmground.png);
	background-repeat: no-repeat;
	background-position: 155px 0px;
	width:320px;
	height:46px;
	    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#homebutkpmg a:active {
	background-position: 165px 0px;

}
#homebutclients {
	display:block;
	font-family: UniversforKPMG;
	color: #c84e00;
	width:300px;
	height:46px;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 23px;/* Approximation due to font substitution */
	text-align: left;
	position: absolute;
	top: 374px;
	left: 419px;
}
#homebutclients a {
	width:300px;
	height:46px;
	display:block;
	color: #3b4e70;
	text-decoration: none;
	background-image: url(../pageimg/clientsround.png);
	background-repeat: no-repeat;
	background-position: 235px 0px;
	width:320px;
	height:46px;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#homebutclients a:active {
	background-position: 240px 0px;

}

.holder {
	position: absolute;
	background-repeat: no-repeat;

}