@charset "utf-8";
#homesliceleft {
	pointer-events: none;
	opacity: 0;
	position: absolute;
	width: 471px;
	height: 768px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	top: 0px;
	left: 0px;
	background-image: url(../pageimg/left.png);
	background-size: 471px 768px;
}
#homeslicecentre {
	opacity: 0;
	background-image: url(../pageimg/middle_panel.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 616px;
	height: 768px;
	position: absolute;
	top: 0px;
	left: 220px;
	pointer-events: none;
	background-size: 616px 768px;
}
#homesliceright {
	pointer-events: none;
	opacity: 0;
	background-image: url(../pageimg/right_panel.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 470px;
	height: 768px;
	position: absolute;
	top: 0px;
	left: 555px;
	background-size: 470px 768px;
}

#homeheader {
	opacity: 0;
	display:block;
	position: absolute;
	font-family: UniversforKPMG;
	color: #aaaaaa;
	font-size: 25px; /* Approximation due to font substitution */
	font-weight: 300;
	line-height: 48px; /* Approximation due to font substitution */
	text-align: left;
	top: 78px;
	left: 65px;
	letter-spacing: 0px;
}
#homebutworld {
	opacity: 0;
	display: block;
	font-family: UniversforKPMG;
	color: #c84e00;
	width: 300px;
	height: 46px;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 23px;/* Approximation due to font substitution */
	text-align: left;
	position: absolute;
	top: 374px;
	left: 78px;
}
#homebutworld a {
	width:300px;
	height:46px;
	display:block;
	color: #c84e00;
	text-decoration: none;
	background-image: url(../pageimg/worldround.png);
	background-size: 45px 45px;
	background-repeat: no-repeat;
	background-position: 235px 0px;
	width:320px;
	height:46px;
	    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#homebutworld a:active {
	background-position: 240px 0px;

}
#homebutkpmg {
	opacity: 0;
	display:block;
	font-family: UniversforKPMG;
	width:300px;
	height:46px;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 23px;/* Approximation due to font substitution */
	text-align: left;
	position: absolute;
	top: 374px;
	left: 824px;
}
#homebutkpmg a {
	width:300px;
	height:46px;
	display:block;
	color:  #009fda;
	text-decoration: none;
	background-size: 45px 45px;
	background-image: url(../pageimg/kpmground.png);
	background-repeat: no-repeat;
	background-position: 155px 0px;
	width:320px;
	height:46px;
	    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#homebutkpmg a:active {
	background-position: 165px 0px;

}
#homebutclients {
	opacity: 0;
	display:block;
	font-family: UniversforKPMG;
	color: #c84e00;
	width:300px;
	height:46px;
	font-size: 23px;/* Approximation due to font substitution */
	font-weight: 300;
	line-height: 23px;/* Approximation due to font substitution */
	text-align: left;
	position: absolute;
	top: 374px;
	left: 419px;
}
#homebutclients a {
	width:300px;
	height:46px;
	display:block;
	color: #3b4e70;
	text-decoration: none;
	background-size: 45px 45px;
	background-image: url(../pageimg/clientsround.png);
	background-repeat: no-repeat;
	background-position: 235px 0px;
	width:320px;
	height:46px;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#homebutclients a:active {
	background-position: 240px 0px;

}

.holder {
	position: absolute;
	background-repeat: no-repeat;

}

.skyscraper {
	-webkit-clip-path: polygon(31% 0, 81% 0, 51% 100%, 1% 100%);
	clip-path: polygon(31% 0, 81% 0, 51% 100%, 1% 100%);
}

.my_hotspot {

	position: absolute;
	background-repeat:repeat;
	background-image: url("../img/hotspot.png");
	z-index: 10;
}

/* evolution overlay */

.evolOverlay {
	 top:0px;
	 left:0px;
	 background-image: url("../img/blackbg.png");
	 z-index: 100;
	 background-repeat: repeat;
	 width: 1024px;
	 height: 1080px;

 }

.evolOverlay img {
	margin-top: 392px;
}

